body {
  background-color: #000;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.flower {
  height: 200px;
  width: 200px;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  animation: pulsate 2s infinite;
}

.text-above,
.text-below {
  position: absolute;
  text-align: center;
  color: #fff;
  font-size: 25px;
}

.text-above {
  top: -80px;
}

.text-below {
  bottom: -60px;
}

@keyframes pulsate {
  0% {
      transform: scale(1.5);
  }
  50% {
      transform: scale(1.6);
  }
  100% {
      transform: scale(1.5);
  }
}

.mid {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: radial-gradient(circle, #4d0000, #ffcc00, #4d0000); /* Rosa amarilla */
  z-index: 4;
  filter: drop-shadow(0 0 8px #ffcc00); /* Iluminación amarilla */
}

.Petal1, .Petal2, .Petal3 {
  position: absolute;
  left: 40px;
  z-index: 1;
  width: 120px;
  height: 30px;
  border-radius: 50%;
  background: radial-gradient(circle, #ffcc00, #b38600); /* Color amarillo */
  filter: drop-shadow(0 0 5px #ffcc00); /* Iluminación amarilla */
}

.Petal1.p1 { transform: rotate(22.5deg); }
.Petal1.p2 { transform: rotate(67.5deg); }
.Petal1.p3 { transform: rotate(110.5deg); }
.Petal1.p4 { transform: rotate(157.5deg); }

.Petal2.p1 { transform: rotate(0deg); }
.Petal2.p2 { transform: rotate(90deg); }
.Petal2.p3 { transform: rotate(45deg); }
.Petal2.p4 { transform: rotate(135deg); }

.Petal3.p1 { transform: rotate(22.5deg); }
.Petal3.p2 { transform: rotate(67.5deg); }
.Petal3.p3 { transform: rotate(110.5deg); }
.Petal3.p4 { transform: rotate(157.5deg); }

.stem {
  position: absolute;
  width: 8px;
  height: 100px;
  background-color: #008000;
  top: 140px;
  left: 96px;
}

.leaf {
  position: absolute;
  width: 30px;
  height: 15px;
  background-color: #008000;
  border-radius: 50%;
  top: 180px;
  left: 110px;
  transform: rotate(-30deg);
}

/* Fondo estrellado */
@keyframes stars {
  0% {
      top: 0%;
  }
  100% {
      top: 100%;
  }
}

.stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('https://www.transparenttextures.com/patterns/stardust.png'); /* Imagen de fondo de estrellas */
  animation: stars 60s infinite linear;
  opacity: 0.2;
  z-index: -1;
}
